<a href="https://colab.research.google.com/github/zaki43325010/Tugas-AlPro-7/blob/main/Praktikum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 – Tuple: Data Tetap yang Tidak Bisa Diubah

In [1]:
koordinat=(7.05,110.04)
print("Lintang: ", koordinat[0])
print("Bujur: ", koordinat[1])

Lintang:  7.05
Bujur:  110.04

#Praktikum 02 – Dictionary Dasar: Menyimpan Data Mahasiswa

In [6]:
mahasiswa={
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}
print("NIM: ", mahasiswa["NIM"])
print("Nama: ", mahasiswa["Nama"])
print("Prodi: ", mahasiswa["Prodi"])

NIM:  20251001
Nama:  Andi
Prodi:  TRK

#Praktikum 03 – Operasi pada Dictionary

In [7]:
mahasiswa={
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}
mahasiswa["Umur"]=20
mahasiswa["Prodi"]="Teknik Komputer"
del mahasiswa["Umur"]
print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

#Praktikum 04 – Set dan Operasi Himpunan

In [8]:
A={1,2,3,4,}
B={3,4,5,6}
print("Union: ", A|B)
print("Intersection: ", A&B)
print("Difference: ", A-B)

Union:  {1, 2, 3, 4, 5, 6}
Intersection:  {3, 4}
Difference:  {1, 2}

#Praktikum 05 – Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [9]:
mhs1={"Algoritma","Matematika","Bahasa Inggris"}
mhs2={"Algoritma","Basis Data","Matematika"}
print("Mata kuliah mhs1:", mhs1)
print("Mata kuliah mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1&mhs2)

Mata kuliah mhs1: {'Matematika', 'Bahasa Inggris', 'Algoritma'}
Mata kuliah mhs2: {'Basis Data', 'Matematika', 'Algoritma'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

#Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [11]:
nilai_mhs={
    "Andi":80,
    "Budi":75,
    "Cici":90
}
for nama, nilai in nilai_mhs.items():
  print(f"{nama}:{nilai}")
rata=sum(nilai_mhs.values())/len(nilai_mhs)
print(f"Rata-rata nilai: {rata:.2f}")

Andi:80
Budi:75
Cici:90
Rata-rata nilai: 81.67